
.programming-widget {
  background-color: rgb(226, 242, 247);
}

.program {
  float: left;
  height: 250px;
  min-width: 250px;
  width: 28.5%;
  background-color: rgb(160, 202, 238);
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}

.program-errored-cell {
  color: white;
  background-color: red;
}

.memory {
  float: left;
  height: 250px;
  min-width: 200px;
  width: 28.5%;
  background-color: rgb(249, 191, 161);
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}

.memory-table {
  background-color: rgb(149, 91, 61);
  width: 100%;
}

.memory-header-cell {
  background-color: rgb(249, 191, 161);
  color: white;
  font-weight: bold;
}

.memory-cell {
  background-color: rgb(249, 191, 161);
  color: rgb(255,255,255);
}

.output {
  float: left;
  height: 250px;
  min-width: 200px;
  width: 28.5%;
  background-color: rgb(147, 241, 134);
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}

.output-table {
  background-color: rgb(47, 141, 34);
  width: 100%;
}

.output-table-cell {
  background-color: rgb(147, 241, 134);
  color: rgb(255,255,255);
}


.button {
  margin: 5px;
  padding: 5px;
  border-radius: 2px;
  background-color: rgb(116, 132, 137);
}

a.button {
  color: rgb(255,255,255);
}

.program-table {
  width: 100%;
  margin-bottom: 15px;
  background-color: rgb(226, 242, 247);
}

textarea {
  width: 250px;
  height: 150px;
}

body {
  background-color: rgb(216, 232, 237);
}
